<div class="container bg-color-true-white">
    <div class="row pb-5 overflow-hidden">
        <div class="col-12 pt-2 px-3 d-flex flex-column align-items-start bg-color-light-coral" id="food-page-top-section">
            <!-- Food Title and Close Button -->
            <div class="d-flex flex-row justify-content-between col-12 pt-4 mb-3">
                <h2 class="text-white" id="food-page-title">Mr. Cheezy</h2>

                <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="44" height="44" rx="16" fill="#F5CAC3"/>
                    <path d="M16 16L28 28M28 16L16 28" stroke="#F28482" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>

            <!-- Description Pills -->
            <div class="d-flex flex-column mb-1">
                <div class="description-pill px-3 py-2 mb-2 bg-color-linen">
                    <p class="color-light-coral description-pill-text m-0">Classic Taste</p>
                </div>
                <div class="description-pill  w-auto">
                    <p class="text-white description-pill-text description-pill m-0 px-3 py-2 bg-color-cambridge">Bestseller</p>
                </div>
            </div>

            <!-- Food Image -->
            <div id="food-page-top-image">
                <img src="../../assets/imgs/hamburger.svg" alt="">
            </div>
        </div>
    </div>
</div>