<div class="container bg-color-true-white overflow-visible">
    <div class="row pb-3 overflow-hidden">
        <div class="col-12 pt-2 px-3 d-flex flex-column align-items-start">
            <!-- Food Title and Close Button -->
            <div class="d-flex flex-row justify-content-between col-12 pt-4 mb-3">
                <h2 class="dark-text" id="food-page-title">Categories</h2>

                <svg (click)="goBack()" class="cursor-pointer" width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="44" height="44" rx="16" fill="#F5CAC3"/>
                    <path d="M16 16L28 28M28 16L16 28" stroke="#F28482" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>

            </div>
        </div>
    </div>
</div>

<div class="container bg-color-true-white overflow-visible">
    <div class="row pb-3 overflow-hidden">
        <div class="col-12 pt-2 px-3 d-flex flex-column">
            <!-- Food Title and Close Button -->
            <div class="d-flex flex-column justify-content-between col-12">
                <h1 class="main-text mb-3 p-md-0">{{selectedCategory.name}}</h1>
                
                
                <div *ngFor="let foodId of selectedCategory.foodIds" [routerLink]="['/food-page', foodId]" class="d-flex flex-row custom-card custom-shadow bg-white justify-content-center align-items-md-center py-3 mb-3 col-12">
                
                    <img [src]="foodList[foodId - 1].image" alt="" class="card-image img-fluid me-3">
                                
                    <div class="col-7 d-flex flex-column align-items-start">
                        <h3 class="mb-0 best-offers-card-title">Frenchdog</h3>
                        <p class="mb-0 best-offers-card-text">Tasty&Spicy <span><img src="../../assets/imgs/other/hot-pepper.svg" alt="" class="sm-emoji"></span><span><img src="../../assets/imgs/other/hot-pepper.svg" alt="" class="sm-emoji"></span><span><img src="../../assets/imgs/other/hot-pepper.svg" alt="" class="sm-emoji"></span></p>
                    </div>
                </div>
                
                        
                    
                </div>
        </div>
    </div>
</div>