<!-- Navigation Bar -->
<div class="container fixed-bottom p-2">
    <div class="row p-3">
        <div class="d-flex flex-row justify-content-between bg-white p-2 navigation-bar custom-shadow">
            
            <!-- Increase Number of items -->
            <div id="decrease-increase-buttom"class="d-flex flex-row align-items-center justify-content-center">
                <div class="col-4 d-flex justify-content-end">
                    <button id="minus-buttom" *ngIf="numberOfItems != 0" (click)="decreaseNumberOfItems()">
                        <svg width="25" height="25" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_1_187)">
                            <circle cx="12.25" cy="12" r="12" fill="#F7EDE2"/>
                            <path d="M7.25 12H17.25" stroke="#F28482" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_1_187">
                            <rect width="24" height="24" fill="white" transform="translate(0.25)"/>
                            </clipPath>
                            </defs>
                        </svg>
                    </button>
                </div>


                <div class="col-4 d-flex justify-content-center"> <p class="m-0 px-3" id="decrease-increase-text">{{numberOfItems}}</p></div>

               <div class="col-4 d-flex justify-content-start">
                <button id="plus-buttom" (click)="increaseNumberOfItems()">
                    <svg width="25" height="25" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_1_189)">
                        <circle cx="12.25" cy="12" r="12" fill="#F28482"/>
                        <path d="M12.25 7V17M7.25 12H17.25" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_1_189">
                        <rect width="24" height="24" fill="white" transform="translate(0.25)"/>
                        </clipPath>
                        </defs>
                    </svg>
                </button>
               </div>


            </div>

            <!-- Add to Cart -->
            <button id="add-to-cart-buttom" class="d-flex flex-column align-items-center justify-content-center bg-color-light-coral" (click)="sentToCartAndResetNumberOfItems()">
                <p class="text-white m-0">Add to Cart</p>
                <p id="add-to-cart-buttom-text" class="m-0 text-white">${{totalPrice}}</p>
            </button>
        </div>
    </div>
</div>