/* You can add global styles to this file, and also import other style files */
/* Variáveis de tamanho de fonte */
$small-font-size: 12px
$medium-font-size: 16px
$large-font-size: 20px

// Classes de utilidade para tamanho de fonte
.font-small
  font-size: $small-font-size

.font-medium
  font-size: $medium-font-size

.font-large
  font-size: $large-font-size

/* Mixin para fontes responsivas */
@mixin responsive-font-size($small, $medium, $large)
  font-size: $small
  
  @media screen and (min-width: 600px)
    font-size: $medium

  @media screen and (min-width: 1200px)
    font-size: $large

.responsive-text
  +responsive-font-size($small-font-size, $medium-font-size, $large-font-size)

// Estilo do corpo
body
  font-family: "Unbounded", sans-serif
  font-optical-sizing: auto
  font-weight: 300
  font-size: 1.0rem
  font-style: normal
  color: #3D405B
  

.profile-picture
  height: 50px
  width: 50px

.default-padding
  padding: 7.41vw

.default-padding-horizontal-only
  padding: 0 4.41vw

.padding-profile-card
  padding-top: 2.81%
  padding-right: 2.81%
  padding-bottom: 2.81%
  padding-left: 5.62%

  border-radius: 23px

  height: 88px

  margin-bottom: 3.05vh

.filter-icon-div
  width: 34px
  height: 34px
  background-color: #F28482
  border-radius: 12px

.filter-icon
  width: 28px
  height: 20px

.search-div
  border-radius: 12px

.search-icon-div
  width: 34px
  height: 34px
  background-color: #f5f5f5

.search-input::placeholder
  color: #3d405b7c
  font-weight: 250


input  
  outline: none
  border-style: none
  background-color: #f5f5f5

.main-text
  font-weight: 400

.slick-list
  padding-top: 30px !important

.slick-track
  margin-bottom: 20px !important

.slick-slide
  height: 114px !important
  border-radius: 20px

#small-carousel .carousel .slick-list .slick-track
  margin-bottom: 0px !important

#todays-menu
  transform: translateY(20px)

.small-slide
  overflow: hidden
  height: 128px !important
  transform: translateY(-20px)

.small-slide-img
  width: 100%
  transform: translateX(20px)

.emoji
  height: 1.5rem

.custom-card
  border-radius: 20px
  width: 90vw

.card-image
  height: 90px

.sm-emoji
  height: 1rem

.custom-shadow
  box-shadow: 0px 8px 20px rgba(194, 191, 172, 0.6)

.custom-shadow-header
  box-shadow: 0px 8px 20px rgba(242, 204, 143, 0.4)
// Background Green Tones
.bg-color-cambridge
  background-color: #84A59D

.bg-color-ash-grey
  background-color: #B6D7CF

// Background Blue Tones
.bg-color-light-blue
  background-color: #A9D7DA

.bg-color-tropical-indigo
  background-color: #A2A1EC

// Background Yellow Tones
.bg-color-hunyadi-yellow
  background-color: #F6BD60

.bg-color-flax
  background-color: #FFEF92

// Background Pink Tones
.bg-color-light-coral
  background-color: #F28482

.bg-color-tea-rose
  background-color: #F5CAC3

// Background White Tones
.bg-color-true-white
  background-color: #fff

.bg-color-ivory
  background-color: #FFFFF2

.bg-color-white-smoke
  background-color: #F5F5F5