/* You can add global styles to this file, and also import other style files */
/* Variáveis de tamanho de fonte */
$small-font-size: 12px
$medium-font-size: 16px
$large-font-size: 20px

// Classes de utilidade para tamanho de fonte
.font-small
  font-size: $small-font-size

.font-medium
  font-size: $medium-font-size

.font-large
  font-size: $large-font-size

/* Mixin para fontes responsivas */
@mixin responsive-font-size($small, $medium, $large)
  font-size: $small
  
  @media screen and (min-width: 600px)
    font-size: $medium

  @media screen and (min-width: 1200px)
    font-size: $large

.responsive-text
  +responsive-font-size($small-font-size, $medium-font-size, $large-font-size)

// Estilo do corpo
body
  font-family: "Unbounded", sans-serif
  font-optical-sizing: auto
  font-weight: 200
  font-style: normal