<div class="container bg-danger default-padding">
    <div class="row bg-primary p-0">
        <header class="bg-success d-flex flex-row padding-profile-card d-flex align-items-center justify-content-between shadow">
            <img src="../../assets/profile-pictures/kid goku.jpg" alt="Profile Picture" class="img-fluid profile-picture rounded-circle">
            <p class="mb-0 w-75">Welcome back, Pin! How Hungry are you?</p>
        </header>
    </div>

    <div class="row bg-secondary d-flex justify-content-between align-items-center mb-4">
        <div class="col-10 d-flex align-items-center justify-content-center h-100 border-0 search-div">
            <div class="p-0 m-0 d-flex align-items-center justify-content-center search-icon-div">
                <img src="../../assets/icons/Search.svg" alt="search" class="border-0">
            </div>        
            <input type="text" class="border-0 w-100 h-100 search-input" placeholder="Search...">
        </div>

        <div class="col-2 d-flex align-items-center justify-content-center filter-icon-div p-0">
            <img src="../../assets/icons/Filter.svg" alt="Filter" class="filter-icon">
        </div>
    </div>

    <div class="row">
        <div class="p-0">
            <h1 class="main-text">Today's Menu</h1>
            <ngx-slick-carousel class="carousel" 
                        #slickModal="slick-carousel" 
                        [config]="slideConfig" 
                        (init)="slickInit($event)"
                        (breakpoint)="breakpoint($event)"
                        (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)">
                        @for (slide of slides; track slide.img) {
            <div ngxSlickItem class="slide">
                  <img src="{{ slide.img }}" alt="" width="100%">
            </div>
        }
    </ngx-slick-carousel>
    
    <button (click)="addSlide()">Add</button>
    <button (click)="removeSlide()">Remove</button>
    <button (click)="slickModal.slickGoTo(2)">slickGoto 2</button>
    <button (click)="slickModal.unslick()">unslick</button>
        </div>
    </div>
</div>