<div class="container bg-danger default-padding">
    <div class="row bg-primary p-0">
        <header class="bg-success d-flex flex-row padding-profile-card d-flex align-items-center justify-content-between shadow">
            <img src="../../assets/profile-pictures/kid goku.jpg" alt="Profile Picture" class="img-fluid profile-picture rounded-circle">
            <p class="mb-0 w-75">Welcome back, Pin! How Hungry are you?</p>
        </header>
    </div>

    <div class="row bg-secondary d-flex justify-content-between">
        <div class="col-10 d-flex align-items-center justify-content-center h-100 bg-white border-0">
            <img src="../../assets/icons/Search.svg" alt="search" class="border-0">
            <input type="text" class="border-0">
        </div>
        <div class="col-2 d-flex align-items-center justify-contenr-center filter-icon-div">
            <img src="../../assets/icons/Filter.svg" alt="Filter" class="filter-icon">
        </div>
    </div>
</div>