<div class="container bg-color-true-white overflow-visible">
    <div class="row pb-3 overflow-hidden">
        <div class="col-12 pt-2 px-3 d-flex flex-column align-items-start">
            <!-- Food Title and Close Button -->
            <div class="d-flex flex-row justify-content-between col-12 pt-4 mb-3">
                <h2 class="dark-text" id="food-page-title">My Cart</h2>

                <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="44" height="44" rx="16" fill="#F5CAC3"/>
                    <path d="M16 16L28 28M28 16L16 28" stroke="#F28482" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>

        </div>
    </div>
</div>

<div class="container bg-color-true-white last-session" id="food-page-description-section">
    <div class="row overflow-visible">
      <app-bootstrap-custom-stepper class="p-0"></app-bootstrap-custom-stepper>
    </div>
</div>

